
.newButton{
    background: orangered;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius:50px;
    color: #FFF;
    line-height: 1px;
    font-size: 50px;
    border: 0px;
    padding-bottom:2px;
    font-weight: 100;

    -webkit-box-shadow: 0px 0px 68px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 68px -20px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 68px -20px rgba(0,0,0,0.5);
}


.contactContainer{
    display:flex;

}


.contactWindow{
    flex: 1 0 auto;
    background: #f1f1f1;
    left: 0px;
    min-height: 100vh;

}



.contactCard{
    background-color: #FFF;
    border-radius: 20px;
    width: 500px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 0 40px 0px 40px;  
    display:none;  
}

.contactCard label {
    font-size: 10px;
    color: #A8A8A8;
    margin-bottom: 0px;
    text-transform: uppercase;

}
.contactCard input[type="text"],
.contactCard input[type="email"], 
.contactCard input[type="date"] {
    border: 0px solid;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
    height: 30px;
    border-radius: 0px;
    border-bottom: 1px solid lightgrey;
    color: grey;
    padding-left: 0px;
}

.contactCard input[type="text"]:disabled,
.contactCard input[type="email"]:disabled, 
.contactCard input[type="date"]:disabled {
    background: #FFF;
    padding: 0px;
    border-bottom: 0px solid lightgrey;
    color: darkgrey;
  }

.cardTitle {
    text-align: center;
    margin-top: -30px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.companyTitle{
    text-align: center;
    color: lightgrey;
    margin-top: 0;

}

.writeMessageButton {
    background: orangered;
    border-radius:5px;
    color: #FFF;
    font-size: 12px;
    border: 0px;
    padding: 4px 10px;
    margin-left: 50%;
    transform: translateX(-50%);

}


.editButton  {
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    background: #FFF;
    padding: 6px 9px;
    border-radius: 50px;
    border: 0px;
}
.editButton img {
    width: 18px;
}
.editButton:hover {
    background: #F3f3f3;

}
.last-input-row{
    padding-bottom: 40px;
}


.button_save_cardField {
    background-color: #1DB1B7 !important;
    border: 0px;
}

.button-row {
    margin-top: 0px;
    display: none;

}



.button-row input{
    padding: 5px 10px !important;
    font-size: 16px;
    margin-top: 0px;

}

.button_delete_cardField{
    background: #FFF;
    color: orangered;
    border: 0px;
}

.button_delete_cardField:hover{
    background: #F3f3f3;
    color: orangered;
    border: 0px;
}

.isVisibleFlex{
    display: flex !important;
    padding-bottom: 30px;
}